<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="jquery.vide.js"></script>
  <%= csrf_meta_tags %>
  <style>
  .icon{
    background-color: #dce6fe;
  }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <div class="navbar-header icon">

      <%= link_to "@BlogApp", root_path,class:"navbar-brand center" %>
      <!-- <a class="navbar-brand center" href="#">&#64;BlogApp</a> -->
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "New Blog entry", new_post_path %></li>
        <li><%= link_to "All Blog entries", posts_path %></li>
        <li><%= link_to "Favourites", favourites_path %></li>


      </ul>
    </div>
  </div>

</nav>
<div class="container">

  <% if user_signed_in? %>
    <%# current user is a method from Devise that gives you the user %>
    <%# object for the currently logged in user %>
    Welcome <%= "#{current_user.first_name} #{current_user.last_name}" %>,
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Log In", new_user_session_path %> |
    <%= link_to "Register", new_user_registration_path %>
  <% end %>

<%= yield %>
</div>
<script>
  $( document ).ready(function() {

  $('h1').addClass('animated bounce');

  $('h1').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){$('h1').addClass('tada');});
});
</script>
</body>
</html>
